* {
    padding: 0px;
    margin: 0px;
}



header > nav > ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: maroon;
    height: 50px;
}

header > nav > ul > li {
    color: white;
    list-style: none;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    transition: .3s;
}
header > nav > ul > li:hover {
    font-size: 26px;
    font-weight: bold;
}

.center {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}